# Auto-detect text files and normalize line endings to LF
* text=auto eol=lf

# Explicit syntax files
*.py text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.json text eol=lf
*.js text eol=lf
*.html text eol=lf
*.css text eol=lf
*.md text eol=lf

# Explicit binary files
*.gz binary
*.pdf binary
*.png binary
*.ico binary
